src/conf/xml-resources/web-service-references/ReservationService/wsdl/localhost_8080/SoapService/ReservationService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="AjouterReservation" type="tns:AjouterReservation"/>

<xs:element name="AjouterReservationResponse" type="tns:AjouterReservationResponse"/>

<xs:element name="afficherReservation" type="tns:afficherReservation"/>

<xs:element name="afficherReservationResponse" type="tns:afficherReservationResponse"/>

<xs:element name="deleteReservation" type="tns:deleteReservation"/>

<xs:element name="deleteReservationResponse" type="tns:deleteReservationResponse"/>

<xs:complexType name="deleteReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AjouterReservation">
<xs:sequence>
<xs:element name="arg0" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="date_debut" type="xs:string" minOccurs="0"/>
<xs:element name="date_fin" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="idVoiture" type="xs:int"/>
<xs:element name="idreservation" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AjouterReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="afficherReservation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="afficherReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>