web/WEB-INF/wsdl/localhost_8080/SoapService/VoitureService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="VoitureService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/SoapService/VoitureService?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="modifier">
<part name="parameters" element="tns:modifier"/>
</message>
<message name="modifierResponse">
<part name="parameters" element="tns:modifierResponse"/>
</message>
<message name="afficher">
<part name="parameters" element="tns:afficher"/>
</message>
<message name="afficherResponse">
<part name="parameters" element="tns:afficherResponse"/>
</message>
<message name="getSingledem">
<part name="parameters" element="tns:getSingledem"/>
</message>
<message name="getSingledemResponse">
<part name="parameters" element="tns:getSingledemResponse"/>
</message>
<message name="AjouterV">
<part name="parameters" element="tns:AjouterV"/>
</message>
<message name="AjouterVResponse">
<part name="parameters" element="tns:AjouterVResponse"/>
</message>
<message name="AjouterVoiture">
<part name="parameters" element="tns:AjouterVoiture"/>
</message>
<message name="AjouterVoitureResponse">
<part name="parameters" element="tns:AjouterVoitureResponse"/>
</message>
<portType name="VoitureService">
<operation name="delete">
<input wsam:Action="http://service/VoitureService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://service/VoitureService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="modifier">
<input wsam:Action="http://service/VoitureService/modifierRequest" message="tns:modifier"/>
<output wsam:Action="http://service/VoitureService/modifierResponse" message="tns:modifierResponse"/>
</operation>
<operation name="afficher">
<input wsam:Action="http://service/VoitureService/afficherRequest" message="tns:afficher"/>
<output wsam:Action="http://service/VoitureService/afficherResponse" message="tns:afficherResponse"/>
</operation>
<operation name="getSingledem">
<input wsam:Action="http://service/VoitureService/getSingledemRequest" message="tns:getSingledem"/>
<output wsam:Action="http://service/VoitureService/getSingledemResponse" message="tns:getSingledemResponse"/>
</operation>
<operation name="AjouterV">
<input wsam:Action="http://service/VoitureService/AjouterVRequest" message="tns:AjouterV"/>
<output wsam:Action="http://service/VoitureService/AjouterVResponse" message="tns:AjouterVResponse"/>
</operation>
<operation name="AjouterVoiture">
<input wsam:Action="http://service/VoitureService/AjouterVoitureRequest" message="tns:AjouterVoiture"/>
<output wsam:Action="http://service/VoitureService/AjouterVoitureResponse" message="tns:AjouterVoitureResponse"/>
</operation>
</portType>
<binding name="VoitureServicePortBinding" type="tns:VoitureService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="afficher">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSingledem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AjouterV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AjouterVoiture">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VoitureService">
<port name="VoitureServicePort" binding="tns:VoitureServicePortBinding">
<soap:address location="http://localhost:8080/SoapService/VoitureService"/>
</port>
</service>
</definitions>